.toolbar .toolbar-tab.admin-toolbar-entity-version-tab {
  display: flex;
  float: right;
}

.toolbar .admin-toolbar-entity-version-tab [data-big-pipe-placeholder-id] {
  display: none;
}

.toolbar .admin-toolbar-entity-version {
  display: flex;
  line-height: inherit;
}

.toolbar .admin-toolbar-entity-version__toggle {
  display: flex;
  height: auto;
  margin: 0;
  padding: 1em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: inherit;
}

.toolbar .admin-toolbar-entity-version__toggle--unpublished {
  color: #ffde03;
}

.toolbar
  .admin-toolbar-entity-version[open]
  .admin-toolbar-entity-version__toggle,
.toolbar .admin-toolbar-entity-version__toggle:focus,
.toolbar .admin-toolbar-entity-version__toggle:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
}

.toolbar
  .admin-toolbar-entity-version[open]
  .admin-toolbar-entity-version__toggle::after {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.toolbar
  .admin-toolbar-entity-version__toggle-state:checked
  ~ .admin-toolbar-entity-version__toggle {
  font-weight: bold;
}

.toolbar .admin-toolbar-entity-version__drawer {
  position: absolute;
  z-index: 100000;
  top: 100%;
  right: 1em;
  width: 25em;
  max-width: calc(100% - 2em);
  margin-top: 1em;
  padding: 0;
  animation: admin-toolbar-entity-version__drawer--show;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  color: #565656;
  background: #fff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.33);
}

/* stylelint-disable */
@keyframes admin-toolbar-entity-version__drawer--show {
  from {
    transform: translateX(calc(100% - 1em));
  }
  to {
    transform: translateX(0);
  }
}
/* stylelint-enable */

.toolbar-fixed.toolbar-horizontal.toolbar-tray-open
  .admin-toolbar-entity-version__drawer {
  top: calc(100% + 3em);
}

.toolbar .admin-toolbar-entity-version__versions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toolbar .admin-toolbar-entity-version__version {
  padding: 0.75em 1em;
  border-bottom: 1px solid #c9c9c9;
  line-height: 1.5;
}

.toolbar .admin-toolbar-entity-version__version-label {
  float: left;
  text-transform: uppercase;
  color: #787878;
  font-weight: bold;
}

.toolbar .admin-toolbar-entity-version__version-link {
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  color: #565656;
  font-weight: bold;
}

.toolbar .admin-toolbar-entity-version__version-link:focus,
.toolbar .admin-toolbar-entity-version__version-link:hover {
  text-decoration: underline;
}

.toolbar .admin-toolbar-entity-version__version-current-marker {
  float: right;
  text-transform: uppercase;
  color: #c9c9c9;
  font-weight: bold;
}

.toolbar .admin-toolbar-entity-version__version-property-list {
  margin: 0;
}

.toolbar .admin-toolbar-entity-version__version-property-list::after {
  display: block;
  clear: both;
  content: "";
}

.toolbar .admin-toolbar-entity-version__version-property-label {
  float: left;
  clear: left;
  font-weight: bold;
}

.toolbar .admin-toolbar-entity-version__version-property-label::after {
  margin-right: 0.5em;
  content: ":";
}

.toolbar .admin-toolbar-entity-version__version-property-value {
  float: left;
  margin: 0;
}

.toolbar .admin-toolbar-entity-version__version-history-link {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
  background: #f5f5f5;
}

.toolbar .admin-toolbar-entity-version__version-history-link:focus,
.toolbar .admin-toolbar-entity-version__version-history-link:hover {
  text-decoration: underline;
}
