{% set bem_block = 'admin-toolbar-entity-version' %}

<details class="{{ bem_block }}">
  <summary class="{{ bem_block }}__toggle{% if not versions[current_version].published %} {{ bem_block }}__toggle--unpublished{% endif %}" for="{{ bem_block }}" aria-label="{% trans %}Status of current version{% endtrans %}">
    {%- if current_version == 'revision' -%}
      {%- trans %}Revision{% endtrans -%}
    {%- else -%}
      {{- versions[current_version].status -}}
    {%- endif -%}
  </summary>

  <div class="{{ bem_block }}__drawer">
    <ol class="{{ bem_block }}__versions" aria-label="{% trans %}Versions{% endtrans %}">
    {%- for key, version in versions -%}
      <li class="{{ bem_block }}__version{% if key == current_version %} {{ bem_block }}__version--current{% endif %}">
        <div class="{{ bem_block }}__version-label">{{ version.label }}</div>
        {% if key == current_version %}
          <span class="{{ bem_block }}__version-current-marker">{% trans %}Current{% endtrans %}</span>
        {% else %}
          <a class="{{ bem_block }}__version-link" href="{{ version.url }}">{% trans %}View{% endtrans %}</a>
        {% endif %}
        <dl class="{{ bem_block }}__version-property-list">
          {% if version.status %}
            <dt class="{{ bem_block }}__version-property-label">{% trans %}Status{% endtrans %}</dt>
            <dd class="{{ bem_block }}__version-property-value">{{ version.status }}</dd>
          {% endif %}
          {%  if version.created %}
            <dt class="{{ bem_block }}__version-property-label">{% trans %}Created{% endtrans %}</dt>
            <dd class="{{ bem_block }}__version-property-value"><time datetime="{{ version.created|format('c') }}" title="{{ version.created|format_date('short') }}">{{ '@time ago'|t({'@time': version.created_time_ago}) }}</time></dd>
          {% endif %}
        </dl>
      </li>
    {%- endfor -%}
    </ol>
    {% if version_history_url %}
      <a class="{{ bem_block }}__version-history-link" href="{{ version_history_url }}">{% trans %}View version history{% endtrans %}</a>
    {% endif %}
  </div>
</details>
